NEXT_PUBLIC_SUPABASE_URL=https://ohzxpbvsuzbrsqpotepe.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9oenhwYnZzdXpicnNxcG90ZXBlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MjgyNDEwOTQsImV4cCI6MjA0MzgxNzA5NH0.cOzuAQi3mAsAqyaV7IRrYUMi45CEYwAoUlONNXFiO6s